@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-purple: #814DAF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.navbar a {
  /* Estilos predeterminados de tus enlaces (ej. color negro) */
  color: black; 
  text-decoration: none; 
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.navbar a:hover {
  /* El color cambia al morado definido al pasar el mouse */
  color: var(--color-purple); 
}